.belt {
  position: fixed;
  width: 260px;
  height: 100vh;
  background-color: $color-primary;
  z-index: 1;

  .img {
    max-width: 250px;
    max-height: 280px;
    padding: 15px;
    background-color: $white;
    margin: 20px 35px;
  }

  .text {
    position: absolute;
    bottom: 30px;
    left: 24px;
    color: $white;

    a {
      color: $white;

      &:visited {
        color: $white;
      }
    }

    .row {
      min-width: 170px;
      display: flex;
      align-items: center;
      margin: 18px 0;

      .icon {
        max-width: 18px;
        margin-right: 10px;
      }

      &.lang {
        justify-content: space-around;
        margin: 20px auto;
      }
    }
  }
}

@media (max-width: 850px) {
  .belt {
    width: 100%;
    max-height: 100px;
    margin-top: -1px;

    .img {
      max-width: 75px;
      max-height: 80px;
      margin: 10px;
      padding: 5px;
    }

    .text {
      bottom: inherit;
      left: inherit;
      top: -3px;
      right: 210px;
      font-size: 14px;

      .lang {
        position: absolute;
        top: 12px;
        right: -200px;
      }

      .row {
        margin: 10px 0;

        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .belt {
    .text {
      right: 65px;

      .row {
        min-width: 160px;

        .icon {
          max-width: 16px;
          margin-right: 7px;
        }
      }

      .lang {
        top: -15px;
        right: -107px;
        min-width: 140px;
        flex-direction: column;
        font-size: 13px;

        .btn-lang {
          padding: 3px 8px;
          margin: 2px 0;
          width: 40px;
        }
      }
    }
  }
}
