.belt {
  position: fixed;
  width: 240px;
  height: 100vh;
  background-color: $color-primary;

  .belt-img {
    max-width: 250px;
    max-height: 280px;
    padding: 15px;
    background-color: $white;
    border-radius: 5%;
    margin: 20px;
  }

  .belt-text {
    position: absolute;
    bottom: 30px;
    left: 10px;
    color: $white;

    .belt-row {
      display: flex;
      align-items: center;

      .belt-icon {
        max-width: 40px;
        margin-right: 10px;
      }
    }
  }
}