.belt {
  position: fixed;
  width: 260px;
  height: 100vh;
  background-color: $color-primary;
  z-index: 1;

  .img {
    max-width: 250px;
    max-height: 280px;
    padding: 15px;
    background-color: $white;
    margin: 20px 35px;
  }

  .text {
    position: absolute;
    bottom: 30px;
    left: 24px;
    color: $white;

    a {
      color: $white;

      &:visited {
        color: $white;
      }
    }

    .row {
      min-width: 170px;
      display: flex;
      align-items: center;
      margin: 18px 0;

      .icon {
        max-width: 18px;
        margin-right: 10px;
      }

      &.lang {
        justify-content: space-around;
        margin: 20px auto;
      }
    }
  }
}