.container {
  position: relative;
  height: 100%;
  margin-left: 240px;
  background-image: url('../../static/images/img3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;

  .box {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .blur {
    backdrop-filter: blur(2px);
  }

  h1 {
    position: absolute;
    top: 56vh;
    right: 0;
    color: $color-secondary;
    background-color: rgba($white, 0.9);
    font-size: 74px;
    padding: 40px 80px;
    border-radius: 10px 0 0 10px;
  }
}
